
<nav>
    <div class="nav_container">
        <img src="/assets/logo-min.png" alt="logo charles cantin" onclick="location.href='/';">
        <i class="fas fa-bars"></i>
        <ul class="nav_links">
            <li><a href="/">Accueil</a></li>
            <li><a href="/galerie/">Galerie</a></li>
            <li><a href="/tarifs/">Tarifs & Prestations</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="nav_socials">
    <ul>
        <li><a href="https://www.instagram.com/" id="instagram" target=”_blank”><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/" id="facebook" target=”_blank”><i class="fab fa-facebook-square"></i></a></li>
    </ul>
</div>