<nav>
    <div class="nav_container">
        <img src="../assets/logo-min.png" alt="logo charles cantin">
        <ul class="nav_links">
            <li>Accueil</li>
            <li>Galerie</li>
            <li>Tarifs & Prestations</li>
            <li>Contact</li>
        </ul>
    </div>
    
</nav>