<nav>
    <div class="nav_container">
        <img src="../assets/logo-min.png" alt="logo charles cantin">
        <ul class="nav_links">
            <li><a href="/">Accueil</a></li>
            <li><a href="/galerie/">Galerie</a></li>
            <li><a href="/tarifs/">Tarifs & Prestations</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="nav_socials">
    <ul>
        <li><i class="fab fa-instagram"><a href="https://fr-fr.facebook.com"></a></i></li>
        <li><i class="fab fa-facebook-square"><a href="https://www.instagram.com"></a></i></li>
    </ul>
</div>