.home_container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/img/camera.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    position: absolute;
    font-size: 3.4rem;
    color: $white;
    margin: 0 auto;
    animation-duration: 1.5s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      top: 40%;
      opacity: 0;
    }

    to {
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
    }
  }
}
