nav {
  width: 100%;
  height: $navHeight;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.75s;
}

.nav_container {
  width: 85%;
  margin: 0 auto;
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
}

.fa-bars {
  color: $white;
  font-size: 2rem;
}

.nav_links {
  position: absolute;
  right: -800px;
  width: 100%;
  top: $navHeight;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  animation: fromRight;
  animation-duration: 0.5s;
  display: none;

  li {
    margin: 35px auto;
    a {
      color: $textColor;
      font-size: 1.5rem;
      font-family: "Poiret One";
      font-weight: 600;
      letter-spacing: 0.2rem;
    }
  }
}

.nav_links.active {
  display: block;
  right: 0;
  background-color: $white;
  height: 100vh;
}

nav.sticky {
  position: sticky;
  background-color: $white;
}

@keyframes fromRight {
  from {
    right: -800px;
  }

  to {
    right: 0;
  }
}

.nav_socials {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 90;

  ul {
    margin: 32px 25px;
    display: flex;
    flex-direction: column;

    li {
      color: rgba($mainColor, 0.9);
      font-size: 2.8rem;
      cursor: pointer;
    }

    .fa-instagram:hover {
      color: #c235a6;
    }

    .fa-facebook-square:hover {
      color: #4064ad;
    }
  }
}

//--- HAAMBURGER ---//
#nav-icon {
  width: 45px;
  height: $navHeight;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  left: 0;
  background: $mainColor;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 10px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 25px;
}

#nav-icon span:nth-child(4) {
  top: 40px;
}

#nav-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

@media screen and (min-width: 768px) {
  nav {
    .fa-bars {
      display: none;
    }

    .nav_links {
      position: inherit;
      display: flex;
      flex-direction: row;
      width: 800px;
      align-items: center;
      justify-content: space-between;
      font-weight: 300;
      background-color: inherit;

      li {
        margin: 0 auto;

        a {
          color: $white;
        }
      }
    }

    &:hover {
      background-color: $mainColor;
    }
  }

  nav.sticky {
    .nav_links {
      background-color: inherit;
    }
    &:hover {
      background-color: $mainColor;
      a {
        color: $white;
      }
    }
  }

  .nav_socials {
    ul {
      margin: 40px;

      li {
        font-size: 3.5rem;
      }
    }
  }
}
