.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .card {
    width: 30%;
    height: 260px;
    margin-bottom: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px dashed $light;

    h3 {
      font-weight: 800;
      font-size: 1.4rem;
      color: $mainColor;
    }

    p {
      font-weight: 200;
    }

    span {
      font-weight: 300;
      font-size: 1.3rem;
      color: $mainColor;
    }
  }
}
