@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: "Poiret One";
  font-weight: 300;
  letter-spacing: 0.2rem;
}
body h2 {
  margin: 0 auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
  color: #43555f;
  animation: fadein 1.6s;
}
body h2::before {
  content: " ";
  width: 150px;
  height: 1px;
  margin-right: 5px;
  color: #43555f;
  border: 1px solid #43555f;
}
body h2::after {
  content: " ";
  width: 150px;
  height: 1px;
  margin-left: 5px;
  color: #43555f;
  border: 1px solid #43555f;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body p {
  font-weight: 200;
}
body a,
body a:hover,
body a:focus,
body a:active {
  outline: none;
  text-decoration: none;
  color: #222222;
}
body .container {
  width: 1000px;
  text-align: center;
  padding-top: 80px;
  margin: 0 auto 50px;
}

nav {
  width: 100%;
  height: 55px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.75s;
}

.nav_container {
  width: 85%;
  margin: 0 auto;
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  height: 100%;
  border-radius: 100%;
}

.fa-bars {
  color: #fff;
  font-size: 2.2rem;
}

.nav_links {
  position: absolute;
  right: 0px;
  width: 100%;
  top: 55px;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.2rem;
  text-align: center;
  animation-duration: 1s;
  animation-name: fadein;
  display: none;
}
.nav_links li {
  margin-bottom: 20px;
}
.nav_links a {
  color: #fff;
}

.nav_links.active {
  display: block;
}

nav.sticky .fa-bars {
  color: #222222;
}
nav.sticky .nav_links a {
  color: #222222;
}

.nav_socials {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 90;
}
.nav_socials ul {
  margin: 25px;
}
.nav_socials ul li {
  color: #43555f;
  font-size: 3rem;
}
.nav_socials ul .fa-instagram:hover {
  color: #c235a6;
}
.nav_socials ul .fa-facebook-square:hover {
  color: #4064ad;
}

@media screen and (min-width: 768px) {
  nav .fa-bars {
    display: none;
  }
  nav .nav_links {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-between;
    font-weight: 300;
  }
  nav:hover {
    background-color: #43555f;
  }

  nav.sticky {
    position: sticky;
    background-color: #fff;
  }
  nav.sticky .nav_links a {
    color: #222222;
  }
  nav.sticky:hover {
    background-color: #43555f;
  }
  nav.sticky:hover a {
    color: #fff;
  }

  .nav_socials ul {
    margin: 40px;
  }
  .nav_socials ul li {
    font-size: 3.5rem;
  }
}
.home_container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/img/camera.jpg");
  background-size: auto 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_container h1 {
  position: absolute;
  font-size: 2.2rem;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  animation-duration: 1.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    top: 40%;
    opacity: 0;
  }
  to {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .home_container {
    background-size: cover;
  }
  .home_container h1 {
    font-size: 3.4rem;
  }
}
.filter_onglets {
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.filter_onglets .filter {
  font-weight: 300;
  padding: 3px 10px;
  border: 2px solid #43555f;
  border-radius: 5px;
  background-color: #43555f;
  color: #fff;
  cursor: pointer;
}
.filter_onglets .filter:hover {
  background-color: #fff;
  color: #43555f;
}
.filter_onglets .active {
  background-color: #fff;
  color: #43555f;
}

.galerie_imgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.galerie_imgs li {
  display: none;
  width: 46%;
  margin: 20px 0;
}
.galerie_imgs li img {
  width: 100%;
}
.galerie_imgs .active {
  display: block;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards .card {
  width: 30%;
  height: 260px;
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px dashed #bdbdbd;
}
.cards .card h3 {
  font-weight: 800;
  font-size: 1.4rem;
  color: #43555f;
}
.cards .card p {
  font-weight: 200;
}
.cards .card span {
  font-weight: 300;
  font-size: 1.3rem;
  color: #43555f;
}

.contact_canvas {
  width: 100%;
  margin: 50px auto 70px;
  display: flex;
}
.contact_canvas .contact_infos {
  width: 50%;
  padding: 0 20px 20px 20px;
  background-color: #43555f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.8px solid #43555f;
  border-radius: 5px 0 0 5px;
}
.contact_canvas .contact_infos img {
  width: 150px;
}
.contact_canvas .contact_infos p {
  margin: 10px auto;
}
.contact_canvas .contact_infos p i {
  font-size: 1.4rem;
  margin-right: 10px;
}
.contact_canvas .contact_infos .reseaux .fab {
  margin: 15px;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}
.contact_canvas .contact_infos .reseaux .fab:hover {
  color: #bdbdbd;
}
.contact_canvas .contact_form {
  width: 50%;
  padding: 20px;
  border: 1.8px solid #43555f;
  border-radius: 0 5px 5px 0;
}
.contact_canvas .contact_form form {
  display: flex;
  flex-direction: column;
}
.contact_canvas .contact_form form input {
  width: 60%;
  height: 30px;
  margin: 10px 0;
  padding: 0 4px;
  font-family: "Poppins";
  border: 1.8px solid #222222;
  border-radius: 5px;
}
.contact_canvas .contact_form form textarea {
  width: 100%;
  height: 120px;
  padding: 4px;
  border: 1.8px solid #222222;
  border-radius: 5px;
}
.contact_canvas .contact_form form textarea:focus,
.contact_canvas .contact_form form input:focus {
  outline: none;
}
.contact_canvas .contact_form form button {
  width: fit-content;
  padding: 5px 20px;
  font-size: 1.1rem;
  border: 2px solid #43555f;
  border-radius: 5px;
  background-color: #43555f;
  color: #fff;
  cursor: pointer;
}
.contact_canvas .contact_form form button:hover {
  background-color: #fff;
  color: #43555f;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #43555f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 0.8rem;
  color: #fff;
  z-index: 95;
}

/*# sourceMappingURL=style.css.map */
