---
layout : layout.njk
---

<div class="container">
    <h2>Galerie</h2>

    <div class="filter_onglets">
        <div class="filter active" data-anim="0">Tous</div>
        <div class="filter" data-anim="1">Mariage</div>
        <div class="filter" data-anim="2">Famille</div>
        <div class="filter" data-anim="3">Couple</div>
        <div class="filter" data-anim="4">Grossesse</div>
        <div class="filter" data-anim="5">Bébé</div>
        <div class="filter" data-anim="6">Baptême</div>
        <div class="filter" data-anim="7">Portrait</div>
    </div>

    <ul class="galerie_imgs">

        {% for galery in collections.galery %}
        <li class="{{galery.data.category}} active"><img src="{{galery.data.image}}" alt="{{galery.data.imageAlt}}"></li>
        {% endfor %}

    </ul>

</div>
    


