---
layout : layout.njk
---

<div class="container">
    <h2>Galerie</h2>

    <div class="filter_onglets">
        <div class="filter active" data-anim="0">Tous</div>
        <div class="filter" data-anim="1">Mariage</div>
        <div class="filter" data-anim="2">Famille</div>
        <div class="filter" data-anim="3">Couple</div>
        <div class="filter" data-anim="4">Grossesse</div>
        <div class="filter" data-anim="5">Bébé</div>
        <div class="filter" data-anim="6">Baptême</div>
        <div class="filter" data-anim="7">Portrait</div>
    </div>

    <ul class="galerie_imgs">

        {% for galerie in collections.galerie %}
        <li class="{{galerie.data.category}} active"><img src="/{{galerie.data.image}}" alt="{{galerie.data.imageAlt}}"></li>
        {% endfor %}

        {#<li class="famille active"><img src="/assets/img/famille-plage.jpg" alt="photo famille à la plage"></li>
        <li class="grossesse active"><img src="/assets/img/grossesse-champ.jpg" alt="photo grossesse dans un champ"></li>
        <li class="mariage active"><img src="/assets/img/mariage-lac.jpg" alt="photo mariage au bord d'un lac"></li>
        <li class="mariage active"><img src="/assets/img/mariage-coeur.jpg" alt="photo mariage coeur avec les mains"></li>
        <li class="famille active"><img src="/assets/img/famille-plage.jpg" alt="photo famille à la plage"></li>
        <li class="grossesse active"><img src="/assets/img/grossesse-champ.jpg" alt="photo grossesse dans un champ"></li>
        <li class="mariage active"><img src="/assets/img/mariage-lac.jpg" alt="photo mariage au bord d'un lac"></li>
        <li class="mariage active"><img src="/assets/img/mariage-coeur.jpg" alt="photo mariage coeur avec les mains"></li>#}
    </ul>

</div>
    


