---
layout : layout.njk
---

<div class="container">
    <h2>Tarifs et prestations</h2>

    <div class="cards">
        {% for prices in collections.prices %}
            <div class="card">
                <h3>{{prices.data.title}}</h3>
                <p>{{prices.data.description}}</p>
                <span>{{prices.data.price}}</span>
            </div>
        {% endfor %}
    </div>
</div>
